<%
if ( data.length > 0 ){
for (var i=0; i< data.length; i++){%>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><%= data[i].description %></h4>
    </div>
    <div class="panel-body">
        <p><label>Classification scheme: </label> <%= data[i].classification_scheme%></p>
        <p><label>Classification ID: </label> <%=data[i].classification_id%></p>
        <p><label>Classification description</label> <%= data[i].classification_description%></p>
        <p><label>Classification URI:</label> <%= data[i].classification_uri%></p>
        <button class="btn btn-default">Eliminar</button>
    </div>
</div>
<%}
} else {
%>
<div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado artículos</div>
<%}
%>