<%
if ( data.length > 0 ){
for (var i=0; i< data.length; i++){%>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><%= data[i].title %></h4>
    </div>
    <div class="panel-body">
        <p><label>Description:</label> <%= data[i].description %></p>
        <p><label>Due date:</label> <%= data[i].duedate %></p>
        <p><label>Date modified:</label> <%= data[i].date_modified %></p>
        <p><label>Status:</label> <%= data[i].status %></p>
        <button class="btn btn-default">Eliminar</button>
    </div>
</div>
<%}
} else {
%>

<div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado hitos</div>
<%}
%>