<%
if ( data.length > 0 ){
    for (var i=0; i< data.length; i++){
%>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><%= data[i].name %></h4>
    </div>
    <div class="panel-body">
        <p><label>Identifier scheme: </label> <%= data[i].identifier_scheme%></p>
        <p><label>Identifier id:</label> <%= data[i].identifier_id%></p>
        <p><label>Legal name:</label> <%= data[i].identifier_legalname%> </p>
        <p><label>URI:</label> <%= data[i].identifier_uri%></p>
        <button class="btn btn-default">Eliminar</button>
    </div>
</div>

<%}
} else{ %>
    <div class="alert alert-warning" role="alert"><strong>Atención:</strong> No se han registrado organizaciones</div>
<%}%>