<form id="uri_form">
    <input name = "id" type="hidden" value="<%= contractingprocess.id %>">
    <p>
        <label>URI</label>
        <input type="url" name="uri" class="form-control" type="text" value="<%= contractingprocess.uri %>">
    </p>
    <p><label>Politica de publicación (URL)</label>
        <input type="url" name="publicationpolicy" class="form-control" type="text" value="<%= contractingprocess.publicationpolicy %>">
    </p>
    <p>
        <label>Licencia (URL)</label>
        <input type="url" name="license" class="form-control" type="text" value="<%= contractingprocess.license %>">
    </p>

    <p>
        <label>Destino</label>
        <input class="form-control" type="text" name="destino" value="<%= contractingprocess.destino %>" >
    </p>
    <p>
        <button type="submit" class="btn btn-default">Guardar</button>
    </p>
</form>