<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">datos.gob.mx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> <%= user.fullname %></a></li>
                <li><a href="#">Datos</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="/signout"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--
<nav class="row top-buffer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contrataciones abiertas</a>
        </div>
    </div>
</nav>
-->
<div class="container all-container">

    <div class="row">


        <% if (typeof cp != "undefined"){%>
        <div class="col-sm-5">
            <div class="panel panel-default pill-container">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Identificador de proceso</strong></h3>
                </div>
                <div class="panel-body">
                    <form id ="updateocid_form" >
                        <input type="text" name="localid" value="<%= (typeof cp != "undefined" )? cp.id : ''%>" hidden>
                        <p>
                            <input type="text" name='ocid' class="form-control" value="<%= cp.ocid %>" placeholder="OCID" required>
                        </p>
                        <button class="btn btn-default">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
        <%}%>

        <% if (typeof cp != "undefined"){%>
        <div class="col-sm-3">
            <div class="panel panel-default pill-container">

                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Herramientas</strong></h3>
                </div>
                <div class="panel-body">

                    <p>
                        <button type="button" class="btn btn-default" data-localid="<%= cp.id %>" data-table="buyer" data-toggle="modal" data-tooltip="crear_proceso" title="Dependencia que publica este proceso de contratación." data-target="#myModalEditSingleOrg">
                            Comprador <!--Buyer--> <i class="fa fa-user"></i></button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-tooltip="crear_proceso" title="Seleccionar tipo de processo que se desea publicar.">
                            Publicar <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li id="release" data-id="<%=cp.id%>"><a href="#">Release</a></li>
                            <li id="release_package" data-id="<%=cp.id%>"><a href="#">Release package</a></li>
                            <li><a href="#">Record package</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" data-localid="<%= cp.id %>" data-toggle="modal" data-target="#myModalEditPub">Publisher</a></li>
                        </ul>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <%}%>


        <div class="col-sm-4">
            <div class="panel panel-default pill-container">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Procesos de contratación</strong></h3>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-sm-6">
                            <form id = "newprocessform" class="form-inline">
                                <p>
                                <button class="btn btn-default" type="submit">Nuevo <i class="fa fa-warning"></i></button>
                                </p>
                            </form>

                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" data-tooltip="crear_proceso" title="Buscar un proceso de contratación previamente inicializado.">
                                    Buscar <i class="fa fa-search"></i></button>

                        </div>
                        <div class="col-sm-6">
                            <p>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModalManual" data-tooltip="crear_proceso" title="Abrir manual" href="">Manual <i class="fa fa-book"></i></button>
                            </p>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>


    <% if (typeof error!= "undefined"){%>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Atención:</strong> <%= error %>
        </p>
    </div>
    <%}%>


<% if (typeof cp != "undefined") {%>
    <%-include tabs/tabs.ejs %>
    <%} else {%>
    <div id="jumbotron" class="jumbotron">
        <h1 class="display-3">¡Contrataciones abiertas!</h1>
        <br>
        <p class="lead">Con la plataforma de contrataciones abiertas el proceso de apertura es más sencillo.</p>
        <hr class="m-y-2">
        <p>Para obtener más información con respecto al formato que esta herramienta te proporcionará, presiona <b>saber más</b></p>
        <p class="lead">
          <br>
          <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalManual" href="">Manual <i class="fa fa-book"></i></a>
          <a class="btn btn-primary btn-lg" href="http://standard.open-contracting.org/latest/en/schema/release/#id1" role="button">Saber más <i class="fa fa-rocket"></i></a>
        </p>
    </div>
    <%}%>
</div>

<% if (typeof cp != "undefined") {%>
<%- include modals/modals.ejs %>
<%}%>
<!-- modal para manual -->
<div class="modal fade" id="myModalManual" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Manual Contrataciones Abiertas</h4>
            </div>
            <div clas="modal-body">
              <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                          <p>
                            <h4 style="color:#00cc99;font-weight:bold">Secciones</h4>
                            <br>
                            <ul>
                              <li style="color:#4d4d4d;font-weight:bold" role="button" id="creacionManual">Creación</li>
                              <br>
                              <li style="color:#4d4d4d;font-weight:bold" role="button" id="publicacionManual">Publicación</li>
                            </ul>
                            <ol id="manualEntry">
                              <hr>
                              <li style="color:#4d4d4d" role="button" id="manualPlan">Planeación</li>
                              <br>
                              <li style="color:#4d4d4d" role="button" id="manualLic">Licitación</li>
                              <br>
                              <li style="color:#4d4d4d" role="button" id="manualAdj">Adjudicación</li>
                              <br>
                              <li style="color:#4d4d4d" role="button" id="manualCont">Contratación</li>
                              <br>
                              <li style="color:#4d4d4d" role="button" id="manualImp">Implementación</li>
                            </ol>
                          <div id="textoPlaneacion">
                            <h3 style="color:#00cc99">Planeación</h3>
                            Esta sección se utiliza para describir el trasfondo del proceso de contratación. Esto puede incluir detalles sobre el presupuesto, proyectos relacionados y documentación tal cómo: Evaluación de necesidades, Plan del proyecto, Plan de contratación, Estudio de factibilidad, etc.
                          </div>
                          <div id="textoLicitacion">
                            <h3 style="color:#00cc99">Licitación</h3>
                            Esta sección incluye los detalles del anunciamiento de que una dependencia requiere licitar algún bien en particular, ya sean materiales o servicios, y que desea establecer un contrato por los mismos.
                          </div>
                          <div id="textoAdjudicacion">
                            <h3 style="color:#00cc99">Adjudicación</h3>
                            Esta sección se utiliza para anunciar cualquier adjudicación que haya sido dada durante el proceso de esta licitación. Pueden existir múltiples adjudicaciones para un mismo proceso.
                          </div>
                          <div id="textoContratacion">
                            <h3 style="color:#00cc99">Contratación</h3>
                            Esta sección se utiliza para dar detalles sobre los contratos en los que se ha incurrido en este proceso. Todo contrato necesita estar relacionado con una adjudicación.
                          </div>
                          <div id="textoImplementacion">
                            <h3 style="color:#00cc99">Implementación</h3>
                            Esta sección describe los avances en cuanto a la implementación del proyecto.
                          </div>
                          </p>
                        </form>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal para buscar procesos de contratación -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Buscar proceso de contratación</h4>
            </div>
            <div class="modal-body">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="searchprocessbyocid_form">
                            <p>
                                <label>ID de proceso</label>
                                <input type="text" name="ocid" title="ocid" class="form-control" required>
                            </p>
                            <button  type="submit" class="btn btn-default">Buscar</button>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="searchprocessbydate_form">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <label>Fecha inicial</label>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' name="fecha_inicial" class="form-control" required>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-sm-6'>
                                    <label>Fecha final</label>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' name="fecha_final" class="form-control" required>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Buscar</button>
                        </form>
                    </div>
                </div>

                <div style="max-height: 350px; overflow: auto;">
                    <p><div id="searchprocess_result"></div></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>


<script src="/bower_components/long/dist/long.min.js"></script>
<script src="/bower_components/bytebuffer/dist/ByteBufferAB.min.js"></script>
<script src="/bower_components/protobuf/dist/protobuf.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/es.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/javascript/main.js"></script>
</body>
</html>
