<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'/> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">datos.gob.mx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> <%= user.fullname %></a></li>
                <li><a href="#">Datos</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="/signout"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<nav class="row top-buffer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contrataciones abiertas</a>
        </div>
    </div>
</nav>

<div class="container all-container">

    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default pill-container">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Proceso de contratación</strong></h3>
                </div>
                <div class="panel-body">
                    <a href="/new-process" class="btn btn-default">Nuevo <i class="fa fa-pencil"></i></a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                        Buscar <i class="fa fa-search"></i></button>
                    <% if (typeof cp != "undefined"){%>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publicar <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li id="release" data-id="<%=cp.id%>"><a href="#">Release</a></li>
                            <li id="release_package" data-id="<%=cp.id%>"><a href="#">Release package</a></li>
                            <li><a href="#">Record package</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" data-toggle="modal" data-target="#myModalEditPub">Publisher</a></li>
                        </ul>
                    </div>
                    <!--<p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon-proc">ID</span>
                        <input id="ocid" type="text" class="form-control"  placeholder="ocid" disabled
                               value="<%= (typeof cp != "undefined" )? cp.id : ""%>" aria-describedby="basic-addon-proc">
                    </div>
                    </p>-->
                    <p>
                    <form>
                        <p>
                        <label>Identificador de proceso</label>
                        <input type="text" class="form-control"></p>
                        <button class="btn btn-default">Guardar</button>
                    </form>
                    </p>
                    <%}%>
                </div>
            </div>
        </div>

        <% if (typeof cp != "undefined"){%>
        <div class="col-sm-7">
            <div class="panel panel-default pill-container">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Organizaciones</strong></h3>
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEditBuyer">Buyer <i class="fa fa-user"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEditProcuringEntity">Procuring E. <i class="fa fa-user"></i></button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tenderers <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-org="T" data-target="#myModalNewOrg">Nuevo</a></li>
                            <li><a href="#" data-toggle="modal" data-ocid="<%=cp.id%>" data-table="tenderer" data-target="#myModalEditOrg">Editar</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Suppliers <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-org="S" data-target="#myModalNewOrg">Nuevo</a></li>
                            <li><a href="#" data-toggle="modal" data-ocid="<%=cp.id%>" data-table="supplier" data-target="#myModalEditOrg">Editar</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <%}%>
    </div>


    <% if (typeof error!= "undefined"){%>
    <p>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Atención:</strong> <%= error %>
    </div>
    </p>
    <%}%>


<% if (typeof cp != "undefined") {%>
    <%-include tabs/tabs.ejs %>
    <%} else {%>
    <div id="jumbotron" class="jumbotron">
        <h1 class="display-3">¡Contrataciones abiertas!</h1>
        <br>
        <p class="lead">Con la plataforma de contrataciones abiertas el proceso de apertura es más sencillo.</p>
        <hr class="m-y-2">
        <p>Para obtener más información con respecto al formato que esta herramienta te proporcionará, presiona <b>saber más</b></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="http://standard.open-contracting.org/latest/en/schema/release/#id1" role="button">Saber más</a>
        </p>
    </div>
    <%}%>
</div>

<% if (typeof cp != "undefined") {%>
<%- include modals/modals.ejs %>
<%}%>

<!-- modal para buscar procesos de contratación -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Buscar proceso de contratación</h4>
            </div>
            <div class="modal-body">

                <form id="searchprocessbyid_form">
                    <p>
                        <label>ID de proceso</label>
                        <input type="text" name="ocid" class="form-control" required>
                    </p>
                    <button class="btn btn-default">Buscar</button>
                </form>

                <form id="searchprocessbydate_form">
                    <p>
                    <div class="row">
                        <div class='col-sm-6'>
                            <label>Fecha inicial</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' name="fecha_inicial" class="form-control" required>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-6'>
                            <label>Fecha final</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' name="fecha_final" class="form-control" required>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                    </p>
                </form>

                <div style="max-height: 350px; overflow: auto;">
                    <p><div class="list-group" id="searchprocessbydate_result"></div></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/es.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/javascript/main.js"></script>
</body>
</html>