<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'/> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">datos.gob.mx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> <%= user.fullname %></a></li>
                <li><a href="#">Datos</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="/signout"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<nav class="row top-buffer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contrataciones abiertas</a>
        </div>
    </div>
</nav>

<div class="container all-container">

    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default pill-container">
                <div class="panel-heading">
                    <h4>Proceso de contratación</h4>
                </div>
                <div class="panel-body">
                    <a href="/new-process" class="btn btn-default">Nuevo <i class="fa fa-pencil"></i></a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                        Buscar <i class="fa fa-search"></i></button>
                    <% if (typeof cp != "undefined"){%>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publicar <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li id="release"><a href="#">Release</a></li>
                            <li><a href="#">Release package</a></li>
                            <li><a href="#">Record package</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" data-toggle="modal" data-target="#myModalEditPub">Publisher</a></li>
                        </ul>
                    </div>
                    <p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon-proc">ID</span>
                        <input id="ocid" type="text" class="form-control"  placeholder="ocid" disabled
                               value="<%= (typeof cp != "undefined" )? cp.id : ""%>" aria-describedby="basic-addon-proc">
                    </div>
                    </p>
                    <%}%>
                </div>
            </div>
        </div>

        <% if (typeof cp != "undefined"){%>
        <div class="col-sm-7">
            <div class="panel panel-default pill-container">
                <div class="panel-heading">
                    <h4>Organizaciones</h4>
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEditBuyer">Buyer <i class="fa fa-user"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEditProcuringEntity">Procuring E. <i class="fa fa-user"></i></button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Suppliers <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-org="S" data-target="#myModalNewOrg">Nuevo <i class="fa fa-user"></i> </a></li>
                            <li><a href="#" data-toggle="modal" data-org="S" data-target="#myModalEditOrg">Editar <i class="fa fa-pencil"></i> </a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tenderers <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-org="T" data-target="#myModalNewOrg">Nuevo <i class="fa fa-user"></i></a></li>
                            <li><a href="#" data-toggle="modal" data-org="T" data-target="#myModalEditOrg">Editar <i class="fa fa-pencil"></i></a></li>
                        </ul>
                    </div>

                    <!---
                    <p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon-dep">ID dependencia</span>
                        <input id="ocid" type="text" class="form-control" disabled
                               value="<%= (typeof cp != "undefined" )? cp.publisher_id : ""%>" aria-describedby="basic-addon-dep">
                    </div>
                    </p>
                    -->
                </div>

            </div>
        </div>
        <%}%>
    </div>


    <% if (typeof error!= "undefined"){%>
    <p>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Atención:</strong> <%= error %>
    </div>
    </p>
    <%}%>


    <% if (typeof cp == "undefined"){%>
    <div id="jumbotron" class="jumbotron">
        <h1 class="display-3">Contrataciones abiertas!</h1>
        <br>
        <p class="lead">Con la plataforma de contrataciones abiertas el proceso de apertura es más sencillo.</p>
        <hr class="m-y-2">
        <p>Para obtener más información con respecto al formato que esta herramienta te proporcionará, presiona <b>saber más</b></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="http://standard.open-contracting.org/latest/en/schema/release/#id1" role="button">Saber más</a>
        </p>
    </div>
    <%}%>


<% if (typeof cp != "undefined") {%>

    <p>
    <ul id="pills" class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a data-toggle="pill" href="#home">1. PLANEACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu1">2. LICITACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu2">3. ADJUDICACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu3">4. CONTRATACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu4">5. IMPLEMENTACIÓN</a></li>
        <!-- <li role="presentation"><a data-toggle="pill" href="#menu5">   ORGANIZACIÓN</a></li> -->
    </ul>
    </p>

    <div id="all-contents" class="tab-content">

        <div id="home" class="tab-pane fade in active">

            <div class="well well-lg">
                <h3>1. PLANEACIÓN</h3>
                <p><button class="btn btn-primary">Planning documents</button>
                <button class="btn btn-primary">Budget documents</button></p>
                <form id="planning_form" >

                <p>
                    <label>Rationale</label>
                    <input type="text" class="form-control" name="rationale"
                           value = "<%=(typeof planning!= "undefined")? planning.rationale : ''%>"
                    > </p>


                <h3>1.1 BUDGET</h3>
                    <input type="text" name="contractingprocess_id" hidden
                           value ="<%= (typeof budget != "undefined")? budget.contractingprocess_id:''%>"
                    >
                    <!-- Falta el id de planning -->
                    <p><label>Budget source</label>
                        <input class="form-control" name="budget_source"
                               value = "<%= (typeof budget != "undefined")? budget.budget_source:''%>"
                        ></p>
                    <p><label>Budget description</label>
                        <input class="form-control" name="budget_description"
                               value = "<%= (typeof budget != "undefined")? budget.budget_description:''%>"
                        ></p>
                    <p><label>Budget amount</label>
                        <input class="form-control" type="number" name="budget_amount"
                               value = "<%= (typeof budget != "undefined")? budget.budget_amount:'' %>"
                        required></p>
                    <p><label>Budget currency</label>
                        <input class="form-control" name="budget_currency"
                               value = "<%= (typeof budget != "undefined")? budget.budget_currency:'' %>"
                        ></p>
                    <p><label>Budget project</label>
                        <input class="form-control" name="budget_project"
                               value = "<%= (typeof budget != "undefined")? budget.budget_project:'' %>"
                        ></p>
                    <p><label>Budget projectID</label>
                        <input class="form-control" name="budget_projectid"
                               value = "<%= (typeof budget != "undefined")? budget.budget_projectid:"" %>"
                        ></p>
                    <p><label>Budget URI</label>
                        <input class="form-control" name="budget_uri"
                               value = "<%= (typeof budget != "undefined")? budget.budget_uri:'' %>"
                        ></p>
                    <p><button  type="submit" class="btn">Guardar</button></p>
                </form>
            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <div class="well well-lg">

                <h3>2. LICITACIÓN</h3>
                <p><button class="btn btn-primary">Milestones</button>
                    <button class="btn btn-primary">Documents</button>
                    <button class="btn btn-primary">Items</button>
                    <button class="btn btn-default">Amendment changes</button></p>

                <form id="tender_form" role="form" >

                    <input type="text" name="contractingprocess_id" hidden
                           value ="<%= (typeof tender != "undefined")? tender.contractingprocess_id:''%>"
                    >
                    <p><label>Title</label>
                        <input type="text" class="form-control" name="title"
                               value = "<%= (typeof tender != "undefined")? tender.title:''%>"
                        ></p>
                    <p><label>Description</label>
                        <input type="text" class="form-control" name = "description"
                               value = "<%= (typeof tender != "undefined")? tender.description:''%>"
                        ></p>
                    <p><label>Status</label>
                        <input type="text" class="form-control" name = "status"
                               value = "<%= (typeof tender != "undefined")? tender.status:''%>"
                        ></p>
                    <p><label>Min value amount</label>
                        <input type="number" class="form-control" name = "minvalue_amount"
                               value = "<%= (typeof tender != "undefined")? tender.minvalue_amount:''%>"
                        required></p>
                    <p><label>Min value currency</label>
                        <input type="text" class="form-control" name="minvalue_currency"
                               value = "<%= (typeof tender != "undefined")? tender.minvalue_currency:''%>"
                        ></p>
                    <p><label>Value amount</label>
                        <input type="number" class="form-control" name= "value_amount"
                               value = "<%= (typeof tender != "undefined")? tender.value_amount:''%>"
                        required></p>
                    <p><label>Value currency</label>
                        <input type="text" class="form-control" name = "value_currency"
                               value = "<%= (typeof tender != "undefined")? tender.value_currency:''%>"
                        ></p>
                    <p><label>Procurement method</label>
                        <input type="text" class="form-control" name= "procurementmethod"
                               value = "<%= (typeof tender != "undefined")? tender.procurementmethod:''%>"
                        ></p>
                    <p><label>Procurement method rationale</label>
                        <input type="text" class="form-control" name= "procurementmethod_rationale"
                               value = "<%= (typeof tender != "undefined")? tender.procurementmethod_rationale:''%>"
                        ></p>
                    <p><label>Award criteria</label>
                        <input type="text" class="form-control" name = "awardcriteria"
                               value = "<%= (typeof tender != "undefined")? tender.awardcriteria:''%>"
                        ></p>
                    <p><label>Award criteria details</label>
                        <input type="text" class="form-control" name = "awardcriteria_details"
                               value = "<%= (typeof tender != "undefined")? tender.awardcriteria_details:''%>"
                        ></p>
                    <p><label>Submission method</label>
                        <input type="text" class="form-control" name="submissionmethod"
                               value = "<%= (typeof tender != "undefined")? tender.submissionmethod:''%>"
                        ></p>
                    <p><label>Submission method details</label>
                        <input type="text" class="form-control" name="submissionmethod_details"
                               value = "<%= (typeof tender != "undefined")? tender.submissionmethod_details:''%>"
                        ></p>

                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Tender period start date</label>
                            <input type="text" class="form-control" id="lici_date1" name="tenderperiod_startdate"
                                    <% if (typeof tender != "undefined") {%>
                                   value = "<%= (tender.tenderperiod_startdate != null)? tender.tenderperiod_startdate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>

                        <div class="col-sm-6">
                            <label>Tender period end date</label>
                            <input type="text" class="form-control" id="lici_date2" name="tenderperiod_enddate"
                                    <% if (typeof tender != "undefined") {%>
                                   value = "<%= (tender.tenderperiod_enddate != null)? tender.tenderperiod_enddate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>
                    </div>
                    </p>


                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Enquiry period start date</label>
                            <input type="text" class="form-control" id="lici_date3" name= "enquiryperiod_startdate"
                                    <% if (typeof tender != "undefined") {%>
                                   value = "<%= (tender.enquiryperiod_startdate != null)? tender.enquiryperiod_startdate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>
                        <div class="col-sm-6">
                            <label>Enquiry period end date</label>
                            <input type="text" class="form-control" id="lici_date4" name= "enquiryperiod_enddate"
                                    <% if (typeof tender != "undefined") {%>
                                   value = "<%= (tender.enquiryperiod_enddate != null)? tender.enquiryperiod_enddate.toLocaleString():''%>"
                                    <%}%>
                                   required></div>
                    </div>
                    </p>

                    <p>
                        <label>Has enquiries</label>
                        <select class="form-control" name="hasenquiries">
                            <option value="0"
                                    <% if (typeof tender != "undefined") {%>
                                    <%=(tender.hasenquiries==0) ?'selected':'';%>
                                    <%}%>
                            >Si</option>
                            <option value="1"
                                    <% if (typeof tender != "undefined"){%>
                                    <%=(tender.hasenquiries==1) ?'selected':'';%>
                                    <%}%>
                            >No</option>
                        </select>
                    </p>

                    <p>
                        <label>Elegibility criteria</label>
                        <input type="text" class="form-control" name="eligibilitycriteria"
                               value = "<%= (typeof tender != "undefined")? tender.eligibilitycriteria:''%>"
                        ></p>

                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Award period start date</label>
                            <input type="text" class="form-control" id="lici_date5" name="awardperiod_startdate"
                                    <%if (typeof tender != "undefined"){%>
                                   value = "<%= (tender.awardperiod_startdate != null)? tender.awardperiod_startdate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>

                        <div class="col-sm-6">
                            <label>Award period end date</label>
                            <input type="text" class="form-control" id="lici_date6" name="awardperiod_enddate"
                                    <%if(typeof tender != "undefined"){%>
                                   value = "<%= (tender.awardperiod_enddate != null)? tender.awardperiod_enddate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>
                    </div>
                    </p>
                    <p>
                        <label>Number of tenderers</label>
                        <input type="number" class="form-control" name="numberoftenderers"
                               value = "<%= (typeof tender != "undefined")? tender.numberoftenderers:''%>"
                        required></p>

                    <h3>2.1 AMENDMENT</h3>
                    <p><div style="position:relative;">
                        <label>Date</label>
                         <input type="text" class="form-control" id="lici_date7" name="amendment_date"
                                <%if(typeof tender != "undefined"){%>
                               value = "<%= (tender.amendment_date != null)? tender.amendment_date.toLocaleString():''%>"
                                <%}%>
                               required>
                    </div>
                    </p>
                    <p><label>Rationale</label>
                    <input type="text" name="amendment_rationale" class="form-control"
                           value="<%=(typeof tender!= "undefined")?tender.amendment_rationale:''%>"
                    ></p>

                    <button type="submit" class="btn">Guardar</button>
                </form>
            </div>
        </div>

        <div id="menu2" class="tab-pane fade">
            <div class="well well-lg">

                <h3>3. ADJUDICACIÓN</h3>
                <input type="text" name="contractingprocess_id" hidden
                       value ="<%= (typeof award != "undefined")? award.contractingprocess_id:''%>"
                >
                <p> <button class="btn btn-primary ">Items</button>
                    <button class="btn btn-primary ">Documents</button>
                    <button class="btn btn-default">Amendment changes</button></p>

                <form id="award_form" role="form">
                    <input type="text" name="contractingprocess_id" hidden
                           value ="<%= (typeof award != "undefined")? award.contractingprocess_id :''%>"
                    >
                    <p><label>Title</label>
                        <input type="text" name="title" class="form-control"
                               value = "<%= (typeof award != "undefined")? award.title:''%>"
                        ></p>
                    <p><label>Description</label>
                        <input type="text" name="description" class="form-control"
                               value = "<%= (typeof award != "undefined")? award.description:''%>"
                        ></p>
                    <p><label>Status</label>
                        <input type="text" name="status" class="form-control"
                               value = "<%= (typeof award != "undefined")? award.status:''%>"
                        ></p>

                    <p> <div style="position: relative">
                        <label>Date</label>
                        <input type="text" id ="adju_date1" name="award_date" class="form-control"
                                <%if(typeof award !="undefined"){%>
                               value = "<%= (award.award_date != null)? award.award_date.toLocaleString():''%>"
                                <%}%>
                               required>
                    </div> </p>

                    <p>
                        <label>Value amount</label>
                        <input type="number" class="form-control" name="value_amount"
                               value = "<%= (typeof award != "undefined")? award.value_amount:''%>"
                               required></p>
                    <p>
                        <label>Value currency</label>
                        <input type="text" class="form-control" name="value_currency"
                               value = "<%= (typeof award != "undefined")? award.value_currency:''%>"
                        ></p>
                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Contract period start date</label>
                            <input type="text" id ="adju_date2" name="contractperiod_startdate" class="form-control"
                                    <%if (typeof award != "undefined"){%>
                                   value = "<%= ( award.contractperiod_startdate != null)? award.contractperiod_startdate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>
                        <div class="col-sm-6">
                            <label>Contract period end date</label>
                            <input type="text" id = "adju_date3" name="contractperiod_enddate" class="form-control"
                                    <%if(typeof award != "undefined"){%>
                                   value = "<%= (award.contractperiod_enddate != null)? award.contractperiod_enddate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>
                    </div>
                    </p>

                    <p>
                        <div style="position: relative">
                        <label>Amendment date</label>
                        <input type="text" class="form-control" id="adju_date4" name="amendment_date"
                                <%if(typeof award != "undefined"){%>
                               value = "<%= (award.amendment_date != null)? award.amendment_date.toLocaleString():''%>"
                                <%}%>
                               required>
                    </div>
                    </p>

                    <p>

                        <label>Amendment rationale</label>
                        <input type="text" class="form-control" name="amendment_rationale"
                               value = "<%= (typeof award != "undefined")? award.amendment_rationale:''%>"
                        ></p>

                    <button type="submit" class="btn btn-default">Guardar</button>
                </form>
            </div>
        </div>

        <div id="menu3" class="tab-pane fade">
            <div class="well well-lg">

                <h3>4. CONTRATACIÓN</h3>
                <p>
                    <button class="btn btn-primary">Documents</button>
                    <button class="btn btn-primary">Items</button>
                    <button class="btn btn-default">Amendment changes</button>
                </p>

                <form id="contract_form" role="form">

                    <input type="text" name="contractingprocess_id" hidden
                           value ="<%= (typeof contract != "undefined")? contract.contractingprocess_id :''%>"
                    >
                    <p>
                        <label>Title</label>
                        <input type="text" class="form-control" name = "title"
                               value = "<%= (typeof contract != "undefined")? contract.title:''%>"
                        ></p>
                    <p>
                        <label>Description</label>
                        <input type="text" class="form-control" name = "description"
                               value = "<%= (typeof contract != "undefined")? contract.description:''%>"
                        ></p>
                    <p>
                        <label>Status</label>
                        <input type="text" class="form-control" name = "status"
                               value = "<%= (typeof contract != "undefined")? contract.status:''%>"
                        ></p>

                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Period start date</label>
                            <input type="text" id= "cont_date1" name  = "period_startdate" class="form-control"
                                    <%if (typeof contract != "undefined"){%>
                                   value = "<%= (contract.period_startdate != null)? contract.period_startdate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>
                        <div class="col-sm-6">
                            <label>Period end date</label>
                            <input type="text" id= "cont_date2" class="form-control" name= "period_enddate"
                                    <%if(typeof contract != "undefined"){%>
                                   value = "<%= (contract.period_enddate != null)? contract.period_enddate.toLocaleString():''%>"
                                    <%}%>
                                   required>
                        </div>
                    </div>
                    </p>

                    <p><label>Value amount</label>
                        <input type="number" class="form-control" name="value_amount"
                               value = "<%= (typeof contract != "undefined")? contract.value_amount:''%>"
                        required></p>
                    <p><label>Value currency</label>
                        <input type="text" class="form-control" name="value_currency"
                               value = "<%= (typeof contract != "undefined")? contract.value_currency:''%>"
                        ></p>

                    <p>
                    <div style="position: relative">
                        <label>Date signed</label>
                        <input type="text" id="cont_date3" class="form-control" name="datesigned"
                                <% if (typeof contract != "undefined"){%>
                               value = "<%= (contract.datesigned != null)? contract.datesigned.toLocaleString():''%>"
                                <%}%>
                               required></div>
                    </p>

                    <p>
                    <div style="position: relative">
                        <label>Amendment date</label>
                        <input type="text" class="form-control" id="cont_date4" name="amendment_date"
                                <%if(typeof contract != "undefined"){%>
                               value = "<%= (contract.amendment_date != null)? contract.amendment_date.toLocaleString():''%>"
                                <%}%>
                               required>
                    </div>
                    </p>

                    <p>

                        <label>Amendment rationale</label>
                        <input type="text" class="form-control" name="amendment_rationale"
                               value = "<%= (typeof contract != "undefined")? contract.amendment_rationale:''%>"
                        ></p>

                    <button type="submit" class="btn">Guardar</button>

                </form>
            </div>
        </div>

        <div id="menu4" class="tab-pane fade">
            <div class="well well-lg">

                <h3>5. IMPLEMENTACIÓN</h3>
                <button class="btn btn-primary">Transactions</button>
                <button class="btn btn-primary">Milestones</button>
                <button class="btn btn-primary">Documents</button>

            </div>
        </div>
    </div>
</div>

            <!-- modal para editar buyer -->
<div class="modal fade" id="myModalEditBuyer" tabindex="-1" role="dialog" aria-labelledby="modalEditBuyer">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <form id = "updatebuyer_form">
                    <input type="text"  name="ocid" value = "<%= (typeof cp != "undefined" )? cp.id :'' %>" hidden>
                    <p><label>Identifier scheme</label>
                    <input name = "identifier_scheme" class="form-control" type="text"
                    value="<%=(typeof buyer != "undefined")?buyer.identifier_scheme:''%>"
                    ></p>
                    <p><label>Identifier ID</label>
                        <input name = "identifier_id" class="form-control" type="text"
                               value="<%=(typeof buyer != "undefined")?buyer.identifier_id:''%>"></p>
                    <p><label>Identifier legal name</label>
                        <input name = "identifier_legalname" class="form-control" type="text"
                               value="<%=(typeof buyer != "undefined")?buyer.identifier_legalname:''%>"
                        ></p>
                    <p><label>Identifier URI</label>
                        <input name = "identifier_uri" class="form-control" type="text"
                               value="<%=(typeof buyer != "undefined")?buyer.identifier_uri:''%>"></p>
                    <p><label>Name</label>
                        <input name="name"       type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.name:''%>"></p>
                    <p><label>Address street address</label>
                        <input name="addres_streetaddress"    type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.addres_streetaddress:''%>"
                        ></p>
                    <p><label>Address locality</label>
                        <input name="address_locality"   type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.address_locality:''%>"></p>
                    <p><label>Address region</label>
                        <input name="address_region"     type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.address_region:''%>"></p>
                    <p><label>Address postal code</label>
                        <input name="address_postalcode"      type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.address_postalcode:''%>"></p>
                    <p><label>Address country name</label>
                        <input name="address_countryname" type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.address_countryname:''%>"></p>
                    <p><label>Contact point name</label>
                        <input name="contactpoint_name"   type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.contactpoint_name:''%>"></p>
                    <p><label>Contact point email</label>
                        <input name="contactpoint_email"   type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.contactpoint_email:''%>"></p>
                    <p><label>Contact point telephone</label>
                        <input name="contactpoint_telephone"  type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.contactpoint_telephone:''%>"></p>
                    <p><label>Contact point fax number</label>
                        <input name="contactpoint_faxnumber"    type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.contactpoint_faxnumber:''%>"></p>
                    <p><label>Contact point url</label>
                        <input name="contactpoint_url"    type="text" class="form-control"
                               value="<%=(typeof buyer != "undefined")?buyer.contactpoint_url:''%>"></p>
                    <p><button type="submit" class="btn btn-default">Guardar</button></p>
                </form>
                <p><button class="btn btn-default">Additional identifiers</button></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<!-- modal para editar procuringEntity -->
<div class="modal fade" id="myModalEditProcuringEntity" tabindex="-1" role="dialog" aria-labelledby="modalEditProcuring">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body">
                <form id="updateprocuringentity_form">
                    <input hidden type="text"  name="ocid" value = "<%= (typeof cp != "undefined" )? cp.id : '' %>">

                    <p><label>Identifier scheme</label>
                        <input name = "identifier_scheme" class="form-control" type="text"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.identifier_scheme:''%>"
                        ></p>
                    <p><label>Identifier ID</label>
                        <input name = "identifier_id" class="form-control" type="text"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.identifier_id:''%>"></p>
                    <p><label>Identifier legal name</label>
                        <input name = "identifier_legalname" class="form-control" type="text"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.identifier_legalname:''%>"
                        ></p>
                    <p><label>Identifier URI</label>
                        <input name = "identifier_uri" class="form-control" type="text"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.identifier_uri:''%>"></p>
                    <p><label>Name</label>
                        <input name="name"       type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.name:''%>"></p>
                    <p><label>Address street address</label>
                        <input name="addres_streetaddress"    type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.addres_streetaddress:''%>"
                        ></p>
                    <p><label>Address locality</label>
                        <input name="address_locality"   type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.address_locality:''%>"></p>
                    <p><label>Address region</label>
                        <input name="address_region"     type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.address_region:''%>"></p>
                    <p><label>Address postal code</label>
                        <input name="address_postalcode"      type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.address_postalcode:''%>"></p>
                    <p><label>Address country name</label>
                        <input name="address_countryname" type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.address_countryname:''%>"></p>
                    <p><label>Contact point name</label>
                        <input name="contactpoint_name"   type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.contactpoint_name:''%>"></p>
                    <p><label>Contact point email</label>
                        <input name="contactpoint_email"   type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.contactpoint_email:''%>"></p>
                    <p><label>Contact point telephone</label>
                        <input name="contactpoint_telephone"  type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.contactpoint_telephone:''%>"></p>
                    <p><label>Contact point fax number</label>
                        <input name="contactpoint_faxnumber"    type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.contactpoint_faxnumber:''%>"></p>
                    <p><label>Contact point url</label>
                        <input name="contactpoint_url"    type="text" class="form-control"
                               value="<%=(typeof procuringentity != "undefined")?procuringentity.contactpoint_url:''%>"></p>
                    <p><button type="submit" class="btn btn-default">Guardar</button></p>
                </form>

                <p><button class="btn btn-default">Additional identifiers</button></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>


<!--
Modal de nueva organización
Restricciones:
Organización Buyer es independiente
Organización Procuring Entity depende de Licitación (solo es una por licitación)
Organización Tenderer depende de Licitación
Organización Supplier depende de Adjudicación
  -->
<div class="modal fade" id="myModalNewOrg" tabindex="-1" role="dialog" aria-labelledby="orgModalLabel5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nueva organización</h4>
            </div>
            <div class="modal-body">
                <form id="neworg_form">
                    <input type="text" id="org_type" name="org_type" hidden>
                    <input type="text" name="ocid" value = "<%= (typeof cp != "undefined" )? cp.id : "" %>" hidden>
                    <p><label>Name</label>
                        <input type="text" class="form-control"></p>
                    <p><label>Identifier scheme</label>
                        <input name="identifier_scheme"       type="text" class="form-control" ></p>
                    <p><label>Identifier id</label>
                        <input name="identifier_id"       type="text" class="form-control"></p>
                    <p><label>Identifier legal name</label>
                        <input name="identifier_legalname"       type="text" class="form-control"></p>
                    <p><label>Identifier uri</label>
                        <input name="identifier_uri"       type="text" class="form-control"></p>
                    <p><label>Name</label>
                        <input name="name" type="text" class="form-control"></p>
                    <p><label>Address street address</label>
                        <input name="address_streetaddress"    type="text" class="form-control"></p>
                    <p><label>Address locality</label>
                        <input name="address_locality"   type="text" class="form-control"></p>
                    <p><label>Address region</label>
                        <input name="address_region"     type="text" class="form-control"></p>
                    <p><label>Address postal code</label>
                        <input name="address_postalcode"      type="text" class="form-control"></p>
                    <p><label>Address country name</label>
                        <input name="address_countryname" type="text" class="form-control"></p>
                    <p><label>Contact point name</label>
                        <input name="contactpoint_name"   type="text" class="form-control"></p>
                    <p><label>Contact point email</label>
                        <input name="contactpoint_email"   type="text" class="form-control"></p>
                    <p><label>Contact point telephone</label>
                        <input name="contactpoint_telephone"  type="text" class="form-control"></p>
                    <p><label>Contact point fax number</label>
                        <input name="contactpoint_faxnumber"    type="text" class="form-control"></p>
                    <p><label>Contact point URL</label>
                        <input name="contactpoint_url"    type="text" class="form-control"></p>

                        <button type="submit" class="btn btn-default">Crear</button></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para editar organizaciones -->
<div class="modal fade" id="myModalEditOrg" tabindex="-1" role="dialog" aria-labelledby="modalEditOrg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar organizaciones</h4>
            </div>
            <div class="modal-body">

                <!-- Editar una organización -->
                <input type="text" id="org-type" hidden>
                    <p><button class="btn btn-default">Additional identifiers</button></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para editar publisher  -->
<div class="modal fade" id="myModalEditPub" tabindex="-1" role="dialog" aria-labelledby="modalEditPub">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar </h4>
            </div>
            <div class="modal-body">
                <form>
                    <p><label>Name</label>
                    <input name="name" class="form-control" value="<%= (typeof publisher != "undefined")?publisher.name:''%>"></p>
                    <p><label>Scheme</label>
                    <input name="scheme" class="form-control" value="<%=(typeof publisher != "undefined")?publisher.scheme:''%>"></p>
                    <p><label>UID</label>
                    <input name="uid" class="form-control" value="<%=(typeof publisher != "undefined")?publisher.uid:''%>"></p>
                    <p><label>URI</label>
                    <input name="uri" class="form-control" value="<%=(typeof publisher != "undefined")?publisher.uri:''%>"></p>
                    <button class="btn btn-default">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<%}%>

<!-- modal para buscar procesos de contratación -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Buscar proceso de contratación</h4>
            </div>
            <div class="modal-body">

                <form id="searchprocessbyid_form">
                    <p>
                        <label>ID de proceso</label>
                        <input type="text" name="ocid" class="form-control" >
                    </p>
                </form>

                <p>
                <form id="searchprocessbydate_form">
                    <div class="row">
                        <div class='col-sm-6'>
                            <label>Fecha inicial</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' name="fecha_inicial" class="form-control" required>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-6'>
                            <label>Fecha final</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' name="fecha_final" class="form-control" required>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
                </p>

                <div style="max-height: 350px; overflow: auto;">
                    <p><div class="list-group" id="searchprocessbydate_result"></div></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/javascript/main.js"></script>
</body>
</html>
