<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'/> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">datos.gob.mx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> <%= user.fullname %></a></li>
                <li><a href="#">Datos</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="/signout"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<nav class="row top-buffer">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contrataciones abiertas</a>
        </div>
    </div>
</nav>


<div class="container all-container">
  <div class="panel panel-default pill-container">
      <div class="panel-heading">
          <h4>Proceso de contratación</h4>
      </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-8">
                    <button id="nuevo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCrea">
                        Nuevo <i class="fa fa-pencil"></i></button>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                        Buscar <i class="fa fa-search"></i></button>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                        Publicar <i class="fa fa-file-text-o"></i></button>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalorg">
                        Organización <i class="fa fa-users"></i></button>
                </div>


                <div class="col-sm-4 ">
                    <input id="ocid" type="number" class="form-control"  placeholder="ocid" disabled
                    value=<%= (typeof cp != "undefined" )? cp.id : ""%>>
                </div>

            </div>
        </div>
    </div>

    <br>

    <% if (typeof error!= "undefined"){%>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Atención:</strong> <%= error %>
    </div>
    <%}%>

    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a data-toggle="pill" href="#home">1. PLANEACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu1">2. LICITACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu2">3. ADJUDICACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu3">4. CONTRATACIÓN</a></li>
        <li role="presentation"><a data-toggle="pill" href="#menu4">5. IMPLEMENTACIÓN</a></li>
        <!-- <li role="presentation"><a data-toggle="pill" href="#menu5">   ORGANIZACIÓN</a></li> -->
    </ul>

    <br>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">


            <div class="well well-lg">

                <h3>1. PLANEACIÓN</h3>

                <p>
                    <button class="btn btn-primary">Document</button>

                </p>

                <h3>1.1 BUDGET</h3>
                <form id="budget_form" >

                    <input type="text" name="contractingprocess_id" hidden
                    value ="<%= (typeof budget != "undefined")? budget.contractingprocess_id:''%>"
                    >
                    <!-- Falta el id de planning -->
                    <p>
                        <label>Budget source</label>
                        <input class="form-control" name="budget_source" placeholder="budget source"
                    value = "<%= (typeof budget != "undefined")? budget.budget_source:''%>"
                        ></p>
                    <p>
                        <label>Budget description</label>
                        <input class="form-control" name="budget_description" placeholder="budget description"
                    value = "<%= (typeof budget != "undefined")? budget.budget_description:''%>"
                        ></p>
                    <p>
                        <label>Budget amount</label>
                        <input class="form-control" type="number" name="budget_amount" placeholder="budget amount"
                        value = "<%= (typeof budget != "undefined")? budget.budget_amount:'' %>"
                        ></p>
                    <p>
                        <label>Budget currency</label>
                        <input class="form-control" name="budget_currency" placeholder="budget currency"
                        value = "<%= (typeof budget != "undefined")? budget.budget_currency:'' %>"
                        ></p>
                    <p>
                        <label>Budget project</label>
                        <input class="form-control" name="budget_project" placeholder="budget project"
                        value = "<%= (typeof budget != "undefined")? budget.budget_project:'' %>"
                        ></p>
                    <p>
                        <label>Budget projectID</label>
                        <input class="form-control" name="budget_projectid" placeholder="budget projectID"
                        value = "<%= (typeof budget != "undefined")? budget.budget_projectid:"" %>"
                        ></p>
                    <p>
                        <label>Budget URI</label>
                        <input class="form-control" name="budget_uri" placeholder="budget uri"
                        value = "<%= (typeof budget != "undefined")? budget.budget_uri:'' %>"
                        ></p>
                    <p><label>Budget rationale</label>
                        <input class="form-control" name="rationale" placeholder="rationale"
                        value = "<%= (typeof budget != "undefined")? budget.rationale:'' %>"
                        ></p>
                    <p><button  type="submit" class="btn">Guardar</button></p>

                    <p><button class="btn btn-primary">Budget document</button></p>

                </form>
            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <div class="well well-lg">

                <h3>2. LICITACIÓN</h3>
                <p>
                    <button class="btn btn-primary">Milestones</button>
                    <button class="btn btn-primary">Documents</button>
                    <button class="btn btn-primary">Amendment </button> <!-- Le sigue Amendment Changes-->
                    <button class="btn btn-primary">Items</button>
                    <!-- <button class="btn btn-primary">Procuring Entity</button>
                         <button class="btn btn-primary">Tenderers</button> -->
                </p>
                <form id="tender_form" role="form" >

                    <input type="text" name="contractingprocess_id" hidden
                           value ="<%= (typeof tender != "undefined")? tender.contractingprocess_id:''%>"
                    >

                    <p>
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="title"
                              value = "<%= (typeof tender != "undefined")? tender.title:''%>"
                        ></p>
                    <p>
                        <label>Description</label>
                        <input type="text" class="form-control" name = "description" placeholder="description"
                              value = "<%= (typeof tender != "undefined")? tender.description:''%>"
                        ></p>
                    <p>
                        <label>Status</label>
                        <input type="text" class="form-control" name = "status" placeholder="status"
                              value = "<%= (typeof tender != "undefined")? tender.status:''%>"
                        ></p>
                    <p>
                        <label>Min value amount</label>
                        <input type="number" class="form-control" name = "minvalue_amount" placeholder="minValue amount"
                              value = "<%= (typeof tender != "undefined")? tender.minvalue_amount:''%>"
                        ></p>
                    <p>
                        <label>Min value currency</label>
                        <input type="text" class="form-control" name="minvalue_currency" placeholder="minValue currency"
                              value = "<%= (typeof tender != "undefined")? tender.minvalue_currency:''%>"
                        ></p>
                    <p>
                        <label>Value amount</label>
                        <input type="number" class="form-control" name= "value_amount" placeholder="value amount"
                              value = "<%= (typeof tender != "undefined")? tender.value_amount:''%>"
                        ></p>
                    <p>
                        <label>Value currency</label>
                        <input type="text" class="form-control" name = "value_currency" placeholder="value currency"
                              value = "<%= (typeof tender != "undefined")? tender.value_currency:''%>"
                        ></p>
                    <p>
                        <label>Procurement method</label>
                        <input type="text" class="form-control" name= "procurementmethod" placeholder="procurement method"
                              value = "<%= (typeof tender != "undefined")? tender.procurementmethod:''%>"
                        ></p>
                    <p>
                        <label>Procurement method rationale</label>
                        <input type="text" class="form-control" name= "procurementmethod_rationale" placeholder="procurement method rationale"
                              value = "<%= (typeof tender != "undefined")? tender.procurementmethod_rationale:''%>"
                        ></p>
                    <p>
                        <label>Award criteria</label>
                        <input type="text" class="form-control" name = "awardcriteria" placeholder="award criteria"
                              value = "<%= (typeof tender != "undefined")? tender.awardcriteria:''%>"
                        ></p>
                    <p>
                        <label>Award criteria details</label>
                        <input type="text" class="form-control" name = "awardcriteria_details" placeholder="award criteria details"
                              value = "<%= (typeof tender != "undefined")? tender.awardcriteria_details:''%>"
                        ></p>
                    <p>
                        <label>Submission method</label>
                        <input type="text" class="form-control" name="submissionmethod" placeholder="submission method"
                              value = "<%= (typeof tender != "undefined")? tender.submissionmethod:''%>"
                        ></p>
                    <p>
                        <label>Submission method details</label>
                        <input type="text" class="form-control" name="submissionmethod_details" placeholder="submission method details"
                              value = "<%= (typeof tender != "undefined")? tender.submissionmethod_details:''%>"
                        ></p>

                    <p>
                    <div class="row">
                    <div class="col-sm-6">
                        <label>Tender period start date</label>
                        <input type="text" class="form-control" id="lici_date1" name="tenderperiod_startdate" placeholder="tender period start date"
                                <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.tenderperiod_startdate != null)? tender.tenderperiod_startdate.toLocaleString():''%>"
                               <%}%>
                        required>
                    </div>
                        <div class="col-sm-6">
                            <label>Tender period end date</label>
                        <input type="text" class="form-control" id="lici_date2" name="tenderperiod_enddate" placeholder="tender period end date"
                               <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.tenderperiod_enddate != null)? tender.tenderperiod_enddate.toLocaleString():''%>"
                               <%}%>
                        required>
                        </div>
                   </div>
                    </p>


                    <p>
                    <div class="row">
                    <div class="col-sm-6">
                        <label>Enquiry period start date</label>
                        <input type="text" class="form-control" id="lici_date3" name= "enquiryperiod_startdate" placeholder="enquiry period start date"
                                <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.enquiryperiod_startdate != null)? tender.enquiryperiod_startdate.toLocaleString():''%>"
                               <%}%>
                               required>
                        </div>
                    <div class="col-sm-6">
                        <label>Enquiry period end date</label>
                        <input type="text" class="form-control" id="lici_date4" name= "enquiryperiod_enddate" placeholder="enquiry period end date"
                                <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.enquiryperiod_enddate != null)? tender.enquiryperiod_enddate.toLocaleString():''%>"
                               <%}%>
                               required></div>
                    </div>
                    </p>



                    <p>
                        <label>Has enquiries</label>
                        <select class="form-control" name="hasenquiries">
                            <option value="0"
                                    <% if (typeof tender != "undefined") {%>
                                    <%=(tender.hasenquiries==1) ?'selected':'';%>
                                     <%}%>
                            >Si</option>
                            <option value="1"
                                    <% if (typeof tender != "undefined"){%>
                                    <%=(tender.hasenquiries==0) ?'selected':'';%>
                                    <%}%>
                            >No</option>
                        </select>
                    </p>

                    <p>
                        <label>Elegibility criteria</label>
                        <input type="text" class="form-control" name="eligibilitycriteria" placeholder="eligibility criteria"
                              value = "<%= (typeof tender != "undefined")? tender.eligibilitycriteria:''%>"
                        ></p>


                    <p>
                    <div class="row">
                    <div class="col-sm-6">
                        <label>Award period start date</label>
                        <input type="text" class="form-control" id="lici_date5" name="awardperiod_startdate" placeholder="award period start date"
                               <%if (typeof tender != "undefined"){%>
                               value = "<%= (tender.awardperiod_startdate != null)? tender.awardperiod_startdate.toLocaleString():''%>"
                               <%}%>
                        required>
                    </div>
                    <div class="col-sm-6">
                        <label>Award period end date</label>
                        <input type="text" class="form-control" id="lici_date6" name="awardperiod_enddate" placeholder="award period end date"
                               <%if(typeof tender != "undefined")%>
                               value = "<%= (tender.awardperiod_enddate != null)? tender.awardperiod_enddate.toLocaleString():''%>"
                        required>
                    </div>
                    </div>
                    </p>

                    <p>
                        <label>Number of tenderers</label>
                        <input type="number" class="form-control" name="numberoftenderers" placeholder="number of tenderers"
                              value = "<%= (typeof tender != "undefined")? tender.numberoftenderers:''%>"
                        ></p>

                    <!--
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier scheme"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier id"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier legal name"></p>
                    <p><input type="text" class="form-control" placeholder="procuring entity identifier uri"></p>
-->

                    <!-- amendment-->
                    <!--
                    <p><div style="position: relative">
                        <input type="text" class="form-control" id="lici_date7" placeholder="amendment date"></div></p>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>
                    -->

                    <button type="submit" class="btn">Guardar</button>
                </form>


            </div>
        </div>

        <div id="menu2" class="tab-pane fade">
            <div class="well well-lg">

                <h3>3. ADJUDICACIÓN</h3>
                <input type="text" name="contractingprocess_id" hidden
                       value ="<%= (typeof award != "undefined")? award.contractingprocess_id:''%>"
                >
                <p>
                    <button class="btn btn-primary ">Items</button>
                    <button class="btn btn-primary ">Documents</button>
                    <!-- <button class="btn btn-primary ">Suppliers</button> -->
                    <button class="btn btn-primary ">Amendment </button> <!-- Le sigue amendment changes-->
                </p>
                <form id="award_form" role="form">


                    <input type="text" name="contractingprocess_id" hidden
                           value ="<%= (typeof award != "undefined")? award.contractingprocess_id :''%>"
                    >


                    <p>
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" placeholder="title"
                                value = "<%= (typeof award != "undefined")? award.title:''%>"
                        ></p>
                    <p>
                        <label>Description</label>
                        <input type="text" name="description" class="form-control" placeholder="description"
                                value = "<%= (typeof award != "undefined")? award.description:''%>"
                        ></p>
                    <p>
                        <label>Status</label>
                        <input type="text" name="status" class="form-control" placeholder="status"
                                value = "<%= (typeof award != "undefined")? award.status:''%>"
                        ></p>

                    <p> <div style="position: relative">
                        <label>Date</label>
                        <input type="text" id ="adju_date1" name="award_date" class="form-control" placeholder="date"
                               <%if(typeof award !="undefined"){%>
                               value = "<%= (award.award_date != null)? award.award_date.toLocaleString():''%>"
                               <%}%>
                        required>
                        </div> </p>

                    <p>
                        <label>Value amount</label>
                        <input type="number" class="form-control" name="value_amount" placeholder="value amount"
                                value = "<%= (typeof award != "undefined")? award.value_amount:''%>"
                        ></p>
                    <p>
                        <label>Value description</label>
                        <input type="text" class="form-control" name="value_currency" placeholder="value currency"
                              value = "<%= (typeof award != "undefined")? award.value_currency:''%>"
                        ></p>
<p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Contract period start date</label>
                            <input type="text" id ="adju_date2" name="contractperiod_startdate" class="form-control" placeholder="contract period start date"
                                   <%if (typeof award != "undefined"){%>
                                   value = "<%= ( award.contractperiod_startdate != null)? award.contractperiod_startdate.toLocaleString():''%>"
                                   <%}%>
                            required>
                        </div>
                        <div class="col-sm-6">
                            <label>Contract period end date</label>
                            <input type="text" id = "adju_date3" name="contractperiod_enddate" class="form-control" placeholder="contract period end date"
                                   <%if(typeof award != "undefined"){%>
                                   value = "<%= (award.contractperiod_enddate != null)? award.contractperiod_enddate.toLocaleString():''%>"
                                   <%}%>
                            required>
                        </div>
                    </div>
</p>

                        <!--
                        <div class="col-sm-4">
                            <input type="text" id= "adju_date4" class="form-control" placeholder="amendment date">
                        </div>
                    </div>
                    <br>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>
                    -->


                    <button type="submit" class="btn">Guardar</button>


                </form>
            </div>
        </div>

        <div id="menu3" class="tab-pane fade">
            <div class="well well-lg">

                <h3>4. CONTRATACIÓN</h3>
                <p>
                    <button class="btn btn-primary">Documents</button>
                    <button class="btn btn-primary">Items</button>
                    <button class="btn btn-primary">Amendment</button> <!-- le sigue amendment changes -->
                </p>

                <form id="contract_form" role="form">

                    <input type="text" name="contractingprocess_id" hidden
                           value ="<%= (typeof contract != "undefined")? contract.contractingprocess_id :''%>"
                    >
                    <p>
                        <label>Title</label>
                        <input type="text" class="form-control" name = "title" placeholder="title"
                              value = "<%= (typeof contract != "undefined")? contract.title:''%>"
                        ></p>
                    <p>
                        <label>Description</label>
                        <input type="text" class="form-control" name = "description" placeholder="description"
                              value = "<%= (typeof contract != "undefined")? contract.description:''%>"
                        ></p>
                    <p>
                        <label>Status</label>
                        <input type="text" class="form-control" name = "status" placeholder="status"
                              value = "<%= (typeof contract != "undefined")? contract.status:''%>"
                        ></p>

                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Period start date</label>
                            <input type="text" id= "cont_date1" name  = "period_startdate" class="form-control" placeholder="period start date"
                                   <%if (typeof contract != "undefined"){%>
                                   value = "<%= (contract.period_startdate != null)? contract.period_startdate.toLocaleString():''%>"
                                   <%}%>
                            required>
                        </div>
                        <div class="col-sm-6">
                            <label>Period end date</label>
                            <input type="text" id= "cont_date2" class="form-control" name= "period_enddate" placeholder="period end date"
                                   <%if(typeof contract != "undefined"){%>
                                   value = "<%= (contract.period_enddate != null)? contract.period_enddate.toLocaleString():''%>"
                                   <%}%>
                            required>
                        </div>
                    </div>
                    </p>

                    <p>
                        <label>Value amount</label>
                        <input type="number" class="form-control" placeholder="value amount" name="value_amount"
                              value = "<%= (typeof contract != "undefined")? contract.value_amount:''%>"
                        ></p>
                    <p>
                        <label>Value currency</label>
                        <input type="text" class="form-control" placeholder="value currency" name="value_currency"
                              value = "<%= (typeof contract != "undefined")? contract.value_currency:''%>"
                        ></p>

                    <p>
                    <div style="position: relative">
                        <label>Date signed</label>
                        <input type="text" id="cont_date3" class="form-control" placeholder="date signed" name="datesigned"
                               <% if (typeof contract != "undefined"){%>
                                            value = "<%= (contract.datesigned != null)? contract.datesigned.toLocaleString():''%>"
                               <%}%>
                        required></div>
                    </p>


                        <!--
                        <div class="col-sm-6">
                            <input type="text" id="cont_date4" class="form-control" placeholder="amendment date">
                        </div>
                    </div>
                    <p><input type="text" class="form-control" placeholder="amendment rationale"></p>
                    -->
                    <button type="submit" class="btn">Guardar</button>

                </form>
            </div>
        </div>

        <div id="menu4" class="tab-pane fade">
            <div class="well well-lg">

                <h3>5. IMPLEMENTACIÓN</h3>
                <!--
                <form role="form">
                    <button type="submit" class="btn">Guardar</button>
                </form> -->

                <button class="btn btn-primary">Transactions</button>
                <button class="btn btn-primary">Milestones</button>
                <button class="btn btn-primary">Documents</button>

            </div>
        </div>
    </div>
</div>


<!--
Modal de organización

Restricciones:
Organización Buyer es independiente
Organización Procuring Entity depende de Licitación (solo es una por licitación)
Organización Tenderer depende de Licitación
Organización Supplier depende de Adjudicación
  -->
<div class="modal fade" id="myModalorg" tabindex="-1" role="dialog" aria-labelledby="orgModalLabel5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class='col-sm-12'>
              <!-- Different organizations -->
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title menu-org text-center">
                      <a data-toggle="collapse" href="#collapse1">Buyer</a>
                    </h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title menu-org text-center">
                      <a data-toggle="collapse" href="#collapse1">Tenderer</a>
                    </h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title menu-org text-center">
                      <a data-toggle="collapse" href="#collapse1">Supplier</a>
                    </h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title menu-org text-center">
                      <a data-toggle="collapse" href="#collapse1">Procuring entity</a>
                    </h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title menu-org text-center">
                      <a data-toggle="collapse" href="#collapse2">Publisher</a>
                    </h4>
                  </div>
                  </div>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p><input id="org-name"       type="text" class="form-control" placeholder="name"></p>
                      <p><input id="org-address"    type="text" class="form-control" placeholder="address street address"></p>
                      <p><input id="org-locality"   type="text" class="form-control" placeholder="address locality"></p>
                      <p><input id="org-region"     type="text" class="form-control" placeholder="address region"></p>
                      <p><input id="org-pcode"      type="text" class="form-control" placeholder="address postal code"></p>
                      <p><input id="org-count-name" type="text" class="form-control" placeholder="address country name"></p>
                      <p><input id="contact-name"   type="text" class="form-control" placeholder="contact point name"></p>
                      <p><input id="contact-mail"   type="text" class="form-control" placeholder="contact point email"></p>
                      <p><input id="contact-phone"  type="text" class="form-control" placeholder="contact point telephone"></p>
                      <p><input id="contact-fax"    type="text" class="form-control" placeholder="contact point fax number"></p>
                      <p><input id="contact-url"    type="text" class="form-control" placeholder="contact point url"></p>
                    </div>
                    <div class="panel-footer">
                      <p><button class="btn  btn-primary">Identifiers</button></p>
                    </div>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p><input id="publisher-name"   type="text" class="form-control" placeholder="Name"></p>
                      <p><input id="publisher-id"     type="text" class="form-control" placeholder="Id"></p>
                      <p><input id="publisher-scheme" type="text" class="form-control" placeholder="Scheme"></p>
                      <p><input id="publisher-url"    type="text" class="form-control" placeholder="Url"></p>
                    </div>
                  </div>
                </div>
            </div>
          <div class="modal-footer">
              <button id="crear-org" class="btn btn-primary">Crear organización</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
    </div>



<!-- modal organización template -->
<div class="modal fade" id="orgModal" tabindex="-1" role="dialog" aria-labelledby="orgModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="orgModalLabel">Buscar/Registrar nueva organización</h4>
            </div>
            <div class="modal-body">

                <form role="form">

                    <p><select class="form-control" id =  "OrganizationType">
                        </select></p>
                    <!-- <p><input type="text" class="form-control" placeholder="identifier scheme"></p>
                    <p><input type="text" class="form-control" placeholder="identifier id"></p>
                    <p><input type="text" class="form-control" placeholder="identifier legal name"></p>
                    <p><input type="text" class="form-control" placeholder="identifier uri"></p>
                    -->
                    <p><input type="text" class="form-control" placeholder="name"></p>
                    <p><input type="text" class="form-control" placeholder="address street address"></p>
                    <p><input type="text" class="form-control" placeholder="address locality"></p>
                    <p><input type="text" class="form-control" placeholder="address region"></p>
                    <p><input type="text" class="form-control" placeholder="address postal code"></p>
                    <p><input type="text" class="form-control" placeholder="address country name"></p>
                    <p><input type="text" class="form-control" placeholder="contact point name"></p>
                    <p><input type="text" class="form-control" placeholder="contact point email"></p>
                    <p><input type="text" class="form-control" placeholder="contact point telephone"></p>
                    <p><input type="text" class="form-control" placeholder="contact point fax number"></p>
                    <p><input type="text" class="form-control" placeholder="contact point url"></p>

                    <p><button class="btn btn-primary">Guardar</button> </p>
                </form>
                <!-- Additional identifiers-->
                <p><button class="btn  btn-primary">Identifiers</button></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<!-- modal para crear proceso -->
<div class="modal fade" id="myModalCrea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">Dependencia que publica</h4>
            </div>
            <div class="modal-body">

                <p>
                  <label>ID de dependencia</label>
                  <input type="text" class="form-control" placeholder="ocid">
                    </p>
                <p>
                  <label>Nombre dependencia</label>
                  <input type="text" class="form-control" placeholder="dep">
                    </p>
              <p><button class="btn btn-primary">Buscar</button></p>

            </div>
            <div class="modal-footer">
              <button id="crear" class="btn btn-primary">Crear proceso</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>



<!-- modal para buscar -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Buscar proceso de contratación</h4>
            </div>
            <div class="modal-body">

              <p>
                  <label>ID de proceso</label>
              <input type="text" class="form-control" placeholder="ocid">
                  </p>
                <p>
              <label>Dependencia</label>
              <input type="text" class="form-control" placeholder="Dependencia">
                </p>
                <p>

              <div class="row">
                <div class='col-sm-6'>
                  <label>Fecha inicial</label>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" >
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class='col-sm-6'>
                  <label>Fecha final</label>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                      <input type='text' class="form-control" >
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

                </p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Buscar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<!-- modal para publicar -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">Publicar proceso de contratación</h4>
            </div>
            <div class="modal-body">
                <div class="radio">
                    <label><input type="radio" name="optradio">Release</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Record</label>
                </div>

                <button class="btn">Publicar</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button> -->
            </div>
        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/javascript/main.js"></script>
<script type="text/javascript">
    $(function () {
    $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY HH:mm:ss'
    });
    $('#datetimepicker2').datetimepicker({
        format: 'DD/MM/YYYY HH:mm:ss',
        useCurrent: false
    });
    $("#datetimepicker1").on("dp.change", function (e) {
    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker2").on("dp.change", function (e) {
    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
    });
    });
</script>
</body>
</html>
