<%
function getMString ( fecha ){
    return (
            fecha.getFullYear() + "-"+
            ( (fecha.getMonth() + 1 < 10)?("0"+(fecha.getMonth()+1)):(fecha.getMonth() + 1) )+ "-" + // 0 - 11
            ( (fecha.getDate() < 10)?("0"+(fecha.getDate())):(fecha.getDate()) ) +" "+ // 1 - 31
            ( (fecha.getHours() < 9)?("0"+fecha.getHours()):fecha.getHours() )+":"+ //0 - 23
            ( (fecha.getMinutes() < 9 )?("0"+fecha.getMinutes()):fecha.getMinutes() ) + ":" +
            ( (fecha.getSeconds() < 9 )?("0"+ fecha.getSeconds()):fecha.getSeconds() )
    );
}
%>

<p> <ul id="pills" class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a data-toggle="pill" href="#home">1. PLANEACIÓN</a></li>
    <li role="presentation"><a data-toggle="pill" href="#menu1">2. LICITACIÓN</a></li>
    <li role="presentation"><a data-toggle="pill" href="#menu2">3. ADJUDICACIÓN</a></li>
    <li role="presentation"><a data-toggle="pill" href="#menu3">4. CONTRATACIÓN</a></li>
    <li role="presentation"><a data-toggle="pill" href="#menu4">5. IMPLEMENTACIÓN</a></li>
</ul> </p>

<div id="all-contents" class="tab-content">
    <div id="home" class="tab-pane fade in active">

        <div class="well well-lg">
            <h3>1. PLANEACIÓN</h3>
            <p><div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-doctable="planningdocuments" data-target="#myModalNewDoc">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            </p>

            <form id="planning_form" >
                <p> <label>Rationale</label>
                    <input type="text" class="form-control" name="rationale" value = "<%=(typeof planning!= "undefined")? planning.rationale : ''%>" > </p>

                <h3>1.1 BUDGET</h3>
                <input type="text" name="contractingprocess_id" hidden value ="<%= (typeof budget != "undefined")? budget.contractingprocess_id:''%>" >
                <!-- Falta el id de planning -->
                <p><label>Budget source</label>
                    <input class="form-control" name="budget_source" value = "<%= (typeof budget != "undefined")? budget.budget_source:''%>" ></p>
                <p><label>Budget description</label>
                    <input class="form-control" name="budget_description" value = "<%= (typeof budget != "undefined")? budget.budget_description:''%>" ></p>
                <p><label>Budget amount</label>
                    <input class="form-control" type="number" name="budget_amount" value = "<%= (typeof budget != "undefined")? budget.budget_amount:'' %>" required></p>
                <p><label>Budget currency</label>
                    <input class="form-control" name="budget_currency" value = "<%= (typeof budget != "undefined")? budget.budget_currency:'' %>" ></p>
                <p><label>Budget project</label>
                    <input class="form-control" name="budget_project" value = "<%= (typeof budget != "undefined")? budget.budget_project:'' %>" ></p>
                <p><label>Budget projectID</label>
                    <input class="form-control" name="budget_projectid" value = "<%= (typeof budget != "undefined")? budget.budget_projectid:"" %>" ></p>
                <p><label>Budget URI</label>
                    <input class="form-control" name="budget_uri" value = "<%= (typeof budget != "undefined")? budget.budget_uri:'' %>" ></p>
                <button type="submit" class="btn urLink">Guardar</button>
                <a class="urLink" href="#" data-toggle="modal" data-stage="planning" data-target="#myModalURL"><li role="button" class="btn urLink">Cargar desde URL</li></a>
            </form>
        </div>
    </div>

    <div id="menu1" class="tab-pane fade">
        <div class="well well-lg">

            <h3>2. LICITACIÓN</h3>

            <p>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-doctable="tenderdocuments" data-target="#myModalNewDoc">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Milestones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-milestonetable="tendermilestone" data-target="#myModalNewMilestone">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Items <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-itemtable="tenderitem" data-target="#myModalNewItem">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Amendmendt changes <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-changestable="tenderamendmentchanges" data-target="#myModalNewAmendmentChange">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            </p>

            <form id="tender_form" role="form" >
                <input type="text" name="contractingprocess_id" hidden value ="<%= (typeof tender != "undefined")? tender.contractingprocess_id:''%>" >
                <p><label>Title</label>
                    <input type="text" class="form-control" name="title" value = "<%= (typeof tender != "undefined")? tender.title:''%>"
                    ></p>
                <p><label>Description</label>
                    <input type="text" class="form-control" name = "description" value = "<%= (typeof tender != "undefined")? tender.description:''%>" ></p>
                <p><label>Status</label>
                    <select class="form-control" name="status">
                        <option value="none" <%=(tender.status == 'none')? 'selected':''%> >Ninguno</option>
                        <option value="planned" <%=(tender.status == 'planned')? 'selected':''%> >Planeado</option>
                        <option value="active" <%=(tender.status == 'active')? 'selected':''%> >Activo</option>
                        <option value="cancelled" <%=(tender.status == 'cancelled')? 'selected':''%> >Cancelado</option>
                        <option value="unsuccessful" <%=(tender.status == 'active')? 'selected':''%> >Fallido</option>
                        <option value="complete" <%=(tender.status == 'complete')? 'selected':''%> >Completado</option>
                    </select>
                </p>
                <p><label>Min value amount</label>
                    <input type="number" step="0.01" class="form-control" name = "minvalue_amount" value = "<%= (typeof tender != "undefined")? tender.minvalue_amount:''%>" required></p>
                <p><label>Min value currency</label>
                    <input type="text" class="form-control" name="minvalue_currency" value = "<%= (typeof tender != "undefined")? tender.minvalue_currency:''%>" ></p>
                <p><label>Value amount</label>
                    <input type="number" step="0.01" class="form-control" name= "value_amount" value = "<%= (typeof tender != "undefined")? tender.value_amount:''%>" required></p>
                <p><label>Value currency</label>
                    <input type="text" class="form-control" name = "value_currency" value = "<%= (typeof tender != "undefined")? tender.value_currency:''%>" ></p>
                <p><label>Procurement method</label>
                    <input type="text" class="form-control" name= "procurementmethod" value = "<%= (typeof tender != "undefined")? tender.procurementmethod:''%>" ></p>
                <p><label>Procurement method rationale</label>
                    <input type="text" class="form-control" name= "procurementmethod_rationale" value = "<%= (typeof tender != "undefined")? tender.procurementmethod_rationale:''%>"
                    ></p>
                <p><label>Award criteria</label>
                    <input type="text" class="form-control" name = "awardcriteria" value = "<%= (typeof tender != "undefined")? tender.awardcriteria:''%>" ></p>
                <p><label>Award criteria details</label>
                    <input type="text" class="form-control" name = "awardcriteria_details" value = "<%= (typeof tender != "undefined")? tender.awardcriteria_details:''%>" ></p>
                <p><label>Submission method</label>
                    <input type="text" class="form-control" name="submissionmethod" value = "<%= (typeof tender != "undefined")? tender.submissionmethod:''%>" ></p>
                <p><label>Submission method details</label>
                    <input type="text" class="form-control" name="submissionmethod_details" value = "<%= (typeof tender != "undefined")? tender.submissionmethod_details:''%>"
                    ></p>

                <p>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Tender period start date</label>
                        <input type="text" class="form-control" id="lici_date1" name="tenderperiod_startdate"
                                <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.tenderperiod_startdate != null)? getMString(tender.tenderperiod_startdate):''%>"
                                <%}%> >
                    </div>

                    <div class="col-sm-6">
                        <label>Tender period end date</label>
                        <input type="text" class="form-control" id="lici_date2" name="tenderperiod_enddate"
                                <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.tenderperiod_enddate != null)? getMString(tender.tenderperiod_enddate):''%>"
                                <%}%> >
                    </div>
                </div>
                </p>

                <p>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Enquiry period start date</label>
                        <input type="text" class="form-control" id="lici_date3" name= "enquiryperiod_startdate"
                                <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.enquiryperiod_startdate != null)? getMString(tender.enquiryperiod_startdate):''%>"
                                <%}%> >
                    </div>
                    <div class="col-sm-6">
                        <label>Enquiry period end date</label>
                        <input type="text" class="form-control" id="lici_date4" name= "enquiryperiod_enddate"
                                <% if (typeof tender != "undefined") {%>
                               value = "<%= (tender.enquiryperiod_enddate != null)? getMString(tender.enquiryperiod_enddate):''%>"
                                <%}%> >
                    </div>
                </div>
                </p>

                <p>
                    <label>Has enquiries</label>
                    <select class="form-control" name="hasenquiries">
                        <option value="0"
                                <% if (typeof tender != "undefined") {%>
                                <%=(tender.hasenquiries==0) ?'selected':'';%>
                                <%}%>
                        >Si</option>
                        <option value="1"
                                <% if (typeof tender != "undefined"){%>
                                <%=(tender.hasenquiries==1) ?'selected':'';%>
                                <%}%>
                        >No</option>
                    </select>
                </p>

                <p>
                    <label>Elegibility criteria</label>
                    <input type="text" class="form-control" name="eligibilitycriteria" value = "<%= (typeof tender != "undefined")? tender.eligibilitycriteria:''%>" ></p>
                <p>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Award period start date</label>
                        <input type="text" class="form-control" id="lici_date5" name="awardperiod_startdate"
                                <%if (typeof tender != "undefined"){%>
                               value = "<%= (tender.awardperiod_startdate != null)? getMString(tender.awardperiod_startdate):''%>"
                                <%}%> >
                    </div>

                    <div class="col-sm-6">
                        <label>Award period end date</label>
                        <input type="text" class="form-control" id="lici_date6" name="awardperiod_enddate"
                                <%if(typeof tender != "undefined"){%>
                               value = "<%= (tender.awardperiod_enddate != null)? getMString(tender.awardperiod_enddate):''%>"
                                <%}%> >
                    </div>
                </div>
                </p>
                <p>
                    <label>Number of tenderers</label>
                    <input type="number" class="form-control" name="numberoftenderers" value = "<%= (typeof tender != "undefined")? tender.numberoftenderers:''%>" required></p>

                <h3>2.1 AMENDMENT</h3>
                <p><div style="position:relative;">
                    <label>Date</label>
                    <input type="text" class="form-control" id="lici_date7" name="amendment_date"
                            <%if(typeof tender != "undefined"){%>
                           value = "<%= (tender.amendment_date != null)? getMString(tender.amendment_date):''%>"
                            <%}%> >
                </div>
                </p>
                <p><label>Rationale</label>
                    <input type="text" name="amendment_rationale" class="form-control" value="<%=(typeof tender!= "undefined")?tender.amendment_rationale:''%>" ></p>
                <button type="submit" class="btn urLink">Guardar</button>
                <a class="urLink" href="#" data-toggle="modal" data-stage="tender" data-target="#myModalURL"><li role="button" class="btn urLink">Cargar desde URL</li></a>
            </form>
        </div>
    </div>

    <div id="menu2" class="tab-pane fade">
        <div class="well well-lg">

            <h3>3. ADJUDICACIÓN</h3>
            <input type="text" name="contractingprocess_id" hidden value ="<%= (typeof award != "undefined")? award.contractingprocess_id:''%>" >
            <p>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-doctable="awarddocuments" data-target="#myModalNewDoc">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Items <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-itemtable="awarditem" data-target="#myModalNewItem">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Amendment changes <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-changestable="awardamendmentchanges" data-target="#myModalNewAmendmentChange">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <form id="award_form" role="form">
                <input type="text" name="contractingprocess_id" hidden value ="<%= (typeof award != "undefined")? award.contractingprocess_id :''%>" >
                <p><label>Title</label>
                    <input type="text" name="title" class="form-control" value = "<%= (typeof award != "undefined")? award.title:''%>"
                    ></p>
                <p><label>Description</label>
                    <input type="text" name="description" class="form-control" value = "<%= (typeof award != "undefined")? award.description:''%>" ></p>
                <p><label>Status</label>
                    <select class="form-control" name="status">
                        <option value="none" <%= (award.status == 'none')?'selected':''%> >Ninguno</option>
                        <option value="pending" <%= (award.status == 'pending')?'selected':''%> >Pendiente</option>
                        <option value="active" <%= (award.status == 'active')?'selected':''%> >Activo</option>
                        <option value="cancelled" <%= (award.status == 'cancelled')?'selected':''%> >Cancelado</option>
                        <option value="unsuccessful" <%= (award.status == 'unsuccessful')?'selected':''%> >Fallido</option>
                    </select>
                </p>

                <p> <div style="position: relative">
                    <label>Date</label>
                    <input type="text" id ="adju_date1" name="award_date" class="form-control"
                            <%if(typeof award !="undefined"){%>
                           value = "<%= (award.award_date != null)? getMString(award.award_date):''%>"
                            <%}%> >
                </div> </p>

                <p>
                    <label>Value amount</label>
                    <input type="number" step="0.01" class="form-control" name="value_amount" value = "<%= (typeof award != "undefined")? award.value_amount:''%>" required></p>
                <p>
                    <label>Value currency</label>
                    <input type="text" class="form-control" name="value_currency" value = "<%= (typeof award != "undefined")? award.value_currency:''%>" ></p>
                <p>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Contract period start date</label>
                        <input type="text" id ="adju_date2" name="contractperiod_startdate" class="form-control"
                                <%if (typeof award != "undefined"){%>
                               value = "<%= ( award.contractperiod_startdate != null)? getMString(award.contractperiod_startdate):''%>"
                                <%}%> >
                    </div>
                    <div class="col-sm-6">
                        <label>Contract period end date</label>
                        <input type="text" id = "adju_date3" name="contractperiod_enddate" class="form-control"
                                <%if(typeof award != "undefined"){%>
                               value = "<%= (award.contractperiod_enddate != null)? getMString(award.contractperiod_enddate):''%>"
                                <%}%> >
                    </div>
                </div>
                </p>

                <p>
                <div style="position: relative">
                    <label>Amendment date</label>
                    <input type="text" class="form-control" id="adju_date4" name="amendment_date"
                            <%if(typeof award != "undefined"){%>
                           value = "<%= (award.amendment_date != null)? getMString(award.amendment_date):''%>"
                            <%}%> >
                </div>
                </p>

                <p>
                    <label>Amendment rationale</label>
                    <input type="text" class="form-control" name="amendment_rationale"
                           value = "<%= (typeof award != "undefined")? award.amendment_rationale:''%>"
                    ></p>

                <button type="submit" class="btn urLink">Guardar</button>
                <a class="urLink" href="#" data-toggle="modal" data-stage="award" data-target="#myModalURL"><li role="button" class="btn urLink">Cargar desde URL</li></a>
            </form>
        </div>
    </div>

    <div id="menu3" class="tab-pane fade">
        <div class="well well-lg">

            <h3>4. CONTRATACIÓN</h3>
            <p>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-doctable="contractdocuments" data-target="#myModalNewDoc">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>


            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Items <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-itemtable="contractitem" data-target="#myModalNewItem">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Amendment changes <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-changestable="contractamendmentchanges" data-target="#myModalNewAmendmentChange">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            </p>

            <form id="contract_form" role="form">

                <input type="text" name="contractingprocess_id" hidden value ="<%= (typeof contract != "undefined")? contract.contractingprocess_id :''%>" >
                <p><label>Award ID</label>
                    <input class="form-control" type="number" name="awardid" value = "<%= (typeof contract != "undefined")? contract.awardid:''%>" required>
                </p>

                <p>
                    <label>Title</label>
                    <input type="text" class="form-control" name = "title" value = "<%= (typeof contract != "undefined")? contract.title:''%>" ></p>
                <p>
                    <label>Description</label>
                    <input type="text" class="form-control" name = "description" value = "<%= (typeof contract != "undefined")? contract.description:''%>" ></p>
                <p>
                    <label>Status</label>
                    <select class="form-control" name="status">
                        <option value="none" <%= (contract.status == 'none')?'selected':''%> >Ninguno</option>
                        <option value="pending" <%= (contract.status == 'pending')?'selected':''%> >Pendiente</option>
                        <option value="active" <%= (contract.status == 'active')?'selected':''%> >Activo</option>
                        <option value="cancelled" <%= (contract.status == 'cancelled')?'selected':''%> >Cancelado</option>
                        <option value="terminated" <%=(contract.status == 'terminated')?'selected':''%> >Terminado</option>
                    </select>
                <p>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Period start date</label>
                        <input type="text" id= "cont_date1" name  = "period_startdate" class="form-control"
                                <%if (typeof contract != "undefined"){%>
                               value = "<%= (contract.period_startdate != null)? getMString(contract.period_startdate):''%>"
                                <%}%> >
                    </div>
                    <div class="col-sm-6">
                        <label>Period end date</label>
                        <input type="text" id= "cont_date2" class="form-control" name= "period_enddate"
                                <%if(typeof contract != "undefined"){%>
                               value = "<%= (contract.period_enddate != null)? getMString(contract.period_enddate):''%>"
                                <%}%> >
                    </div>
                </div>
                </p>

                <p><label>Value amount</label>
                    <input type="number" step="0.01" class="form-control" name="value_amount" value = "<%= (typeof contract != "undefined")? contract.value_amount:''%>" required></p>
                <p><label>Value currency</label>
                    <input type="text" class="form-control" name="value_currency" value = "<%= (typeof contract != "undefined")? contract.value_currency:''%>" ></p>

                <p>
                <div style="position: relative">
                    <label>Date signed</label>
                    <input type="text" id="cont_date3" class="form-control" name="datesigned"
                            <% if (typeof contract != "undefined"){%>
                           value = "<%= (contract.datesigned != null)? getMString(contract.datesigned):''%>"
                            <%}%> ></div>
                </p>

                <p>
                <div style="position: relative">
                    <label>Amendment date</label>
                    <input type="text" class="form-control" id="cont_date4" name="amendment_date"
                            <%if(typeof contract != "undefined"){%>
                           value = "<%= (contract.amendment_date != null)? getMString(contract.amendment_date):''%>"
                            <%}%> >
                </div>
                </p>

                <p>
                    <label>Amendment rationale</label>
                    <input type="text" class="form-control" name="amendment_rationale" value = "<%= (typeof contract != "undefined")? contract.amendment_rationale:''%>"
                    ></p>

                <button type="submit" class="btn urLink">Guardar</button>
                <a class="urLink" href="#" data-toggle="modal" data-stage="contract" data-target="#myModalURL"><li role="button" class="btn urLink">Cargar desde URL</li></a>
            </form>
        </div>
    </div>

    <div id="menu4" class="tab-pane fade">
        <div class="well well-lg">

            <h3>5. IMPLEMENTACIÓN</h3>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-doctable="implementationdocuments" data-target="#myModalNewDoc">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transactions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#myModalNewTransaction">Nuevo</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModalEditTransactions">Editar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Milestones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-milestonetable="implementationmilestone" data-target="#myModalNewMilestone">Nuevo</a></li>
                    <li><a href="#">Editar</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
